<div class="row">
  <div class="col">
    <h1><%= @word.word.upcase %><h1>
    <h4>Definition(s)</h4>
    <% if @definitions.any? %>
      <ul>
        <% @definitions.each do |definition|%>
        <li><a href="/definition/<%= definition.id %>"><%= definition.meaning %></a></li>
        <% end %>
      </ul>
    <% else %>
      <p>No definitions yet!</p>
    <% end %>
    <form action="/word/<%= @word.id %>/delete" method="post">
      <input name="method" type="hidden" value="delete">
      <button type="submit" class="btn-primary">Delete Word</button>
    </form>
    <a href="/words">Go back</a>
  </div>
  <div class="col">
    <form action="/word/<%= @word.id %>/update_word" method="post">
      <div class="form-group">
        <label for="spelling">Change Word Spelling</label>
        <input id="n" name="spelling" class="form-control" type="text">
      </div>
      <button type="submit" class="btn-primary">Update Word</button>
    </form>
    <br>
    <form action="/word/<%= @word.id %>/add_definition" method="post">
      <div class="form-group">
        <label for="def_name">What's it mean?</label>
        <input id="n" name="def_name" class="form-control" type="text">
      </div>
      <button type="submit" class="btn-primary">Add Your Definition</button>
    </form>
  </div>
</div>
